# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Testing
coverage
playwright-report
test-results

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
